<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<form action="/sms/send" method="get" target="_blank">
    <p>templateId: <input type="text" name="templateId"  value="1001"/></p>
    <p>code: <input type="text" name="code" /></p>
    <p>clientIp: <input type="text" name="clientIp" /></p>
    <p>projectId: <input type="text" name="projectId" value="222" /></p>
    <p>numbers: <input type="text" name="numbers" /></p>
    <input type="submit" value="Submit" />
</form>

</body>
</html>